@import 'utils/colors';
@import 'utils/mixins';

$size: 45px;

button {
  border: none;
  outline: none;
}

.button {
  padding: 0;
  margin: 0 5px;
  width: $size;
  height: $size;
  background-color: transparent;
  cursor: pointer;
  @include transition(0.3s);
  z-index: 10;
}
