@import 'utils/colors';
@import 'utils/mixins';

$thumb_size: 13px;

.button__volume {
  margin: 0;
}

.volume {
  display: flex;
  align-items: center;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 80px;
  height: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: $thumb_size;
    width: $thumb_size;
    border-radius: 50%;
    background: $white;
    border: none;
    margin-top: -5px;
  }

  &::-webkit-slider-runnable-track {
    height: 4px;
    background: $white;
    border-radius: 3rem;
    @include transition(all 0.5s);
  }

  &::-moz-range-thumb {
    height: $thumb_size;
    width: $thumb_size;
    border-radius: 50%;
    background: $white;
    border: none;
    margin-top: -5px;
  }

  &::-moz-range-track {
    height: 4px;
    background: $grey;
    border-radius: 3rem;
    @include transition(all 0.5s);
  }

  &:active::-webkit-slider-thumb {
    background: $blue;
  }

  &:active::-moz-range-progress {
    background: $blue;
  }

  &::-moz-range-progress {
    height: 4px;
    background: $white;
    border-radius: 3rem;

    @include transition(all 0.5s);
  }
}
