@import 'utils/colors';
@import 'utils/mixins';

.progress {
  position: relative;
  display: flex;

  flex: 10;
  flex-basis: 100%;
  height: 8px;
  background: $grey;
  cursor: pointer;

  @include transition(all 0.3s);

  &:hover {
    @include transform(scaleY(1.5));
  }
}

.progress__filled {
  width: 50%;
  background: $blue;
  flex: 0;
  flex-basis: 0%;
}
