@import 'utils/mixins';

.button__repeat {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  width: initial;
  height: initial;
  box-shadow: inset 0 0 30px #00000040;
  border-radius: 200px;

  @include animation(fadeIn, 1s, ease, forwards);

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
