@import 'utils/colors';
@import 'utils/mixins';

.icon {
  margin: 0;
  background-color: $white;

  -webkit-mask-repeat-x: no-repeat;
  -webkit-mask-repeat-y: no-repeat;

  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  @include transition(all 0.2s ease);

  &:active {
    background-color: $blue;
  }
}
