@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin animation($name, $duration, $timing_func, $fill_mode) {
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
  -moz-animation-duration: $duration;
  -webkit-animation-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-timing-function: $timing_func;
  -moz-animation-timing-function: $timing_func;
  animation-timing-function: $timing_func;
  -webkit-animation-fill-mode: $fill_mode;
  animation-fill-mode: $fill_mode;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}
