.player__video {
  width: 100%;
  height: auto;

  &:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

  &::-webkit-media-controls {
    display: none !important;
  }
  &::-webkit-media-controls-enclosure {
    display: none !important;
  }
}
