@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'utils/colors';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg_color;
}
