.player {
  display: grid;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;

  &:fullscreen {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  &:-webkit-full-screen {
    max-width: none;
    width: 100%;
    height: 100%;
  }

  &:-moz-full-screen {
    max-width: none;
    width: 100%;
    height: 100%;
  }
}
