@import 'utils/mixins';

.control {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  left: 0;
  bottom: 0;
  height: 53px;
  width: 100%;

  @include transition(all 0.3s);
  z-index: 2147483648; // trying to kill shadow dom for fullscreen controls appear
}

.control__gradient {
  background-image: linear-gradient(to top, #00000090, transparent);
  background-repeat: repeat-x;

  @include transition(opacity 0.25s cubic-bezier(0, 0, 0.2, 1));
}

.control__side_left {
  display: flex;
  flex: 1;
  margin-left: 12px;
}

.control__fade-in {
  @include animation(fadeIn, 200ms, ease-in, forwards);

  @keyframes fadeIn {
    from {
      bottom: -53px;
    }
    to {
      bottom: 0;
    }
  }
}

.control__fade-out {
  @include animation(fadeOut, 200ms, ease-in, forwards);

  @keyframes fadeOut {
    from {
      bottom: 0;
    }
    to {
      bottom: -53px;
    }
  }
}
